.idea
*.pyc
*~
__pycache__
media/
myvenv
db.sqlite3
/static
.DS_Store
migrations
/.vscode
.env
bin/
include/
lib/
pip-selfcheck.json
post/utils.py
postchi/bin/
postchi/lib/
postchi/lib64
postchi/pip-selfcheck.json
postchi/pyvenv.cfg
postchi/share/